<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Nginx Redirects Manager</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="48x48">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous" defer></script>
</head>
<body>
<main>
  <div id="loginContainer" style="width: 400px; height: 400px; margin-left: 40vw; margin-top: 25vh;">
    <p class="display-6" style="text-align: center; margin-left: 1px;">Керування редіректами Nginx</p>
    <span class="badge rounded-pill bg-primary" style="font-size: 14px; margin-bottom: 15px; margin-left: 100px;">Необхідно авторизуватись:</span>
    <form action="" method="POST">
    <div class="input-group mb-3">
      <span class="input-group-text">Логін&nbsp;&nbsp;&nbsp;</span>
      <input type="text" class="form-control" id="username" name="username" autocomplete="on">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Пароль</span>
      <input type="password" class="form-control" id="password" name="password" autocomplete="on">
    </div>
    <button style="margin-left: 170px;" type="submit" id="login" name="login" class="btn btn-primary" onclick="showLoading()">Вхід</button>
    </form>
    <div class="d-grid mt-2">
      <a href="/login/authelia" class="btn btn-outline-secondary" onclick="showLoading()">🔑Увійти через єдиний корп. аккаунт SSO</a>
    </div>
    <div class="spinner-border text-primary" role="status" style="margin-left: 190px; margin-top: 15px; visibility: hidden;" id="spinner">
      <span class="visually-hidden">Завантаження...</span>
    </div>
    {{loginError|safe}}
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Інформація:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити"></button>
        </div>
        <div class="modal-body">
          <ul class=flashes style="margin-top: 33px;" id="message">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        </div>    
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" autofocus>Ясно-понятно</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endwith %}
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</main>
</body>
</html>